**/.git
**/.gitignore
**/.git-ftp.log
**/.git-ftp-tmp
**/Dockerfile
**/README.md
**/.drone.yml
**/Thumbs.db
**/.DS_Store
**/Desktop.ini

**/_Assets
**/_css
**/_js
**/_LinkedIn

**/_setup
**/_specs
**/About
**/CodeWars
**/Favorites
**/GitHub
**/IMDB
**/Projects

