#BookmarksTree li, #sortableListsBase li 
{
    background-color: #ddf;
    padding-left: 50px;
    margin: 5px;
    border: 1px solid #3f3f3f;
    background-color: #3f3f3f;
    list-style-type: none;
    /*color: #b5e853;*/
    color: #ffffff;
}
#BookmarksTree li div 
{
    padding: 7px;
    background-color: #222;
}
#BookmarksTree, #BookmarksTree ul
{
    padding: 0;
    background-color: #151515;
    border: 1px solid #3f3f3f;
}
.LinkWrapper
{
    display:inline-block;
    border:none;
    margin:0px;
    margin-top:1px;
}
.LinkContent
{
    padding: 7px;
    background-color: #151515;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.c3 {
    color: #f77720;
}

.fa-plus::before {
    content: "\f067";
}

.fa-minus::before {
    content: "\f068";
}

.s-l-opener {
    float: left;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    margin-left: -40px;
    margin-right: 5px;
    font-size: 1.1em;
}